@import 'vars';
@import 'fonts';

@import 'reset';
@import 'global';

.header {
    padding: 60px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }

.menu {
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 45px;
    }
    &__list-link {
        color: $title;
        font-size: 18px;
        @extend %rubik-400;
        &:hover {
            color: $accent;
    }
}
}
.user-nav {
    display: flex;
    gap: 16px;
    &__link {
        position: relative;
    }
    &__num {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background-color: $accent;
        color: #FFF;
        text-align: center;
        font-size: 10px;
        top: -3px;
        right: -8px;
    }
}
}

.footer {
    
    .wrapper {
        display: flex;
        flex-direction: row;
        
    }
    .footer-logo {
        margin-bottom: 30px;
    }
    .footer-form {
        display: flex;
        flex-direction: column;
        .footer-form__input,
        .footer-form__button {
            font-size: 14px;
            line-height: 1.3;
            width: 200px;
            height: 44px;
        }
    &__input {
        border-radius: 5px;
        border: 1px solid #C2C2C2;
        background-color: #FFF;
        margin-bottom: 12px;
        @extend %rubik-400;
        &::placeholder {
            padding-left: 15px;
        }
    }
    
    &__button {
        display: flex;
        justify-content: center;
        gap: 15px;
        background-color: $accent;
        color: #fff;
        border-radius: 5px;
        align-items: center;
        @extend %rubik-500;
    } 
}
.footer-items {
    margin-left: 70px;
    font-size: 18px;
    line-height: 1.3;
    &__nav {
        margin-bottom: 20px;
    }
    &__contact {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }
}
}



@import 'media';
